.validar {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
}
.cedula {
  height: 30px;
  border: 1px solid #800080;
  padding: 2px;
  text-indent: 3px;
  color: #e018ae;
}
input.button {
  margin: 1rem 0 0 0;
}
